* {
    box-sizing: border-box;
}

body {
    margin: 10px;

}


main {
    max-width: 1000px;
    margin: 9vw auto;
/*    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 90%);*/
}

img {
    display: block;
    width: 100%;

}


ul,
li {
   list-style: none;

}


.responsive ul {

display: grid;
grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
grid-template-rows: auto;
grid-gap: 0.15rem;
    grid-auto-flow:dense;
    overflow: hidden;
     object-fit: scale-down;


}

li:nth-child(1) {
   grid-column: span 3;
         object-fit: contain;


}

li:nth-child(2) {
   grid-column: span 3;
         object-fit: contain;



}

li:nth-child(3) {
    grid-column: span 5;
         object-fit: contain;


}

li:nth-child(4) {
   grid-column: span 5;
         object-fit: contain;


}

li:nth-child(5) {
   grid-column: span 11;

}

li:nth-child(6) {
   grid-column: 1 / 9;

}

li:nth-child(7) {
    grid-column: span 6;



}
li:nth-child(8) {
   grid-column: span 5;
         object-fit: scale-down;


}
li:nth-child(9) {
   grid-column: span 6;
         object-fit: scale-down;



}
/*

.boksani {
    animation-name: anima;
    animation-duration: 5s;
    animation-delay: 20s;
    animation-iteration-count: infinite;
}

@keyframes anima {

    0% {
        clip-path: polygon(0 0, 25% 0, 25% 25%, 0% 25%);
    }

    30% {
        clip-path: polygon(0 0, 25% 0, 25% 25%, 0% 25%);
    }

    50% {
         clip-path: polygon(76% 0, 100% 0, 100% 24%, 76% 24%);

    }

    70% {
        clip-path: polygon(76% 58%, 100% 58%, 100% 25%, 76% 25%);

    }

    80% {
        clip-path: polygon(0% 58%, 25% 58%, 25% 25%, 0% 25%);

    }

    100% {
        clip-path: polygon(0 0, 25% 0, 25% 100%, 0% 25%);

    }
}
*/

.boksani2 {
    animation-name: anima2;
    animation-duration: 8s;
    animation-iteration-count: 1;
}

@keyframes anima2 {

0% {
    clip-path: polygon(28% 0, 55% 0, 55% 24%, 28% 24%);
}
10% {
    clip-path: polygon(55% 0, 55% 0, 55% 24%, 55% 24%);
}
20% {
    clip-path: polygon(76% 0, 100% 0, 100% 24%, 76% 24%);
}

50% {
    clip-path: polygon(76% 58%, 100% 58%, 100% 25%, 76% 25%);
}
80% {
    clip-path: polygon(0% 58%, 25% 58%, 25% 25%, 0% 25%);
}
100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 116%);
}
}



li:nth-child(2) {
   display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  opacity: 1;
  transition: .5s ease;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.txtover {
    opacity: 0;
    transition: 0.9s ease;
    text-align: center;
    position: absolute;
    color: white;
}

.container:hover .txtover {

  opacity: 1;
}



